<!-- app/views/home.html.erb -->

<div class="Home">
<div class="Date">23 Aug ,2024</div>
  <div class="StateLayer">
    <div class="Content">
      <div class="SupportingText">Scan Patient Barcode</div>
    </div>
  </div>
  <div class="Rectangle1"></div>
 
  <div class="Menu">
    <div class="MenuList">
      <div class="MenuListItem1">
          <div class="StateLayer">
            <div class="Content">
              <div class="EBilling">e-Billing</div>
            </div>
          </div>
          </div>
<div><div class="MenuListItem2">
<a href="/home" class="MenuLink">
  <div class="StateLayer">
    <div class="Content">
      <div class="LabelText">Home</div>
    </div>
  </div>
</a>
</div>
<div class="MenuListItem3">
<a href="/reports" class="MenuLink">
  <div class="StateLayer">
    <div class="Content">
      <div class="LabelText">Reports</div>
    </div>
  </div>
</a>
</div>
<div class="MenuListItem4">
<a href="/administration" class="MenuLink">
  <div class="StateLayer">
    <div class="Content">
      <div class="LabelText">Administration</div>
    </div>
  </div>
</a>
</div>
<div class="MenuListItem5">
<a href="/other" class="MenuLink">
  <div class="StateLayer">
    <div class="Content">
      <div class="LabelText">Other</div>
    </div>
  </div>
</a>
</div>
<div class="MenuListItem7">
<a href="/somepage" class="MenuLink">
  <div class="StateLayer">
    <div class="Content"></div>
  </div>
</a>
</div>
</div>
</div>
</div>
      
  
 <div class="container">
 <div class="InfoCard">
 <div class="Body">
   <div class="Text">
     <div class="Billed">Billed</div>
   </div>
   <div class="TextStrong">
     <div class="0">$0</div>
   </div>
 </div>
</div>
<div class="InfoCard">
 <div class="Body">
   <div class="Text">
     <div class="Billed">Billed</div>
   </div>
   <div class="TextStrong">
     <div class="0">$0</div>
   </div>
 </div>
</div>
<div class="InfoCard">
 <div class="Body">
   <div class="Text">
     <div class="NewRegistrations">New Registrations</div>
   </div>
   <div class="TextStrong">
     <div class="0">$0</div>
   </div>
 </div>
</div>
<div>
    <div class="Button Logout">Logout</div>
    <div class="Button FindOrRegisterPatient">Find or Register Patient</div></div>

 </div>
  
</div>
